/* --- Base --- */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* --- Components --- */

.card__img-wrapper {
    max-height: 240px;
}

.card__img-wrapper {
    pointer-events: none;
}

.card__img-wrapper > * {
    pointer-events: all;
}


.card--game {

}

/* @media screen and (min-width: 375px) and (max-width: 767px) {
    * {
        background-color: red !important;
    }
} */

@media screen and (max-width: 767px) {
    .card--game {
        display: grid !important;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            "img-wrapper body"
            "img-wrapper footer"
        ;
    }

    .card--game > .card__img-wrapper {
        grid-area: img-wrapper;
    }

    .card--game > .card-body {
        grid-area: body;
    }

    .card--game > .card-footer {
        grid-area: footer;
        font-size: 16px;
    }

    .card--game > * > .card-img {
        border-radius: 0px;
    }
}

@media screen and (max-width: 430px) {
    .card--game {
        grid-template-columns: 120px 1fr;
    }

    .card--game .card-footer-row {
        --bs-gutter-y: 12px;
    }

    .card--game .card-footer-row > .col {
        font-size: 12px;
    }

    .card--game .card-body__title {
        font-size: 16px;
    }

    .card--game .card-body__text {
        font-size: 14px;
    }
}

.the-game {
    
}

.the-game__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

@media (max-width: 768px) {
    .the-game__img {
        max-width: 220px;
    }
}

.the-game__prop-name {
    font-weight: 500;
}

.the-game__prop-value {
    
}

.the-game__td--city {
    width: 200px;
}

.the-game__td--market {
    width: 200px;
}

.the-game__td--link {
    width: 220px;
}

@media (min-width: 768px) {
    .the-game__prop-value {
        padding-left: 12px;
    }
}

.the-game__badge {
    max-width: 100%;
}

.the-game__platform-img {
    width: 64px;
    height: 64px;
}

.the-game__table {
    min-width: 600px;
}

.the-game__table > :not(caption) > * > *:first-child {
    padding-left: 0;
}

.the-game__table > :not(caption) > * > *:last-child {
    padding-left: 0;
}

.the-game__table-price {
    white-space: pre-wrap; /* Chrome */
    word-wrap: break-word;
}


.choices--no-right-padding .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 10px !important;
}

.choices--bs-sm .choices__inner {
    padding: 2px 8px;
    min-height: 30.7778px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
}

.choices--bs-sm[data-type="select-one"] .choices__inner {
    padding: 4px 8px;
    height: 30.7778px;
    min-height: unset;
}

.choices--bs-sm .choices__input {
    background-color: transparent;
    padding: 0;
}

.choices--bs-sm .choices__inner .choices__list {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.choices--bs-sm .choices__inner .choices__item {
    margin: 2px 2px 0 0 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    line-height: 1.15 !important;
}

.choices--bs-sm[data-type="select-one"] .choices__inner .choices__item {
    margin: 0 !important;
    padding-bottom: 6px !important;
}

.choices--truncate--item .choices__inner .choices__item,
.choices--truncate .choices__item.choices__item--selectable {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.choices--truncate--item .choices__inner .choices__item {
    max-width: calc(100% - 12px); /* необходимо, чтобы отображалась кнопка */
}

.choices--truncate .choices__list.choices__list--single {
    padding-right: 32px;
}

.choices--truncate--item .choices__inner .choices__item {
    
}

.choices--bs-theme--default .choices__inner {
    border: var(--bs-border-width) solid var(--bs-border-color);;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}


.bi-theme-icons {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}

/* --- Bootstrap utils (existed if specific flag is true) --- */

.mt-n1 {
    margin-top: -0.25rem !important;
}

.me-b1 {
    margin-bottom: -0.25rem !important;
}

.ms-n1 {
    margin-left: -0.25rem !important;
}

.me-n1 {
    margin-right: -0.25rem !important;
}

.mx-n1 {
    margin-right: -0.25rem !important;
    margin-left: -0.25rem !important;
}

.my-n1 {
    margin-top: -0.25rem !important;
    margin-bottom: -0.25rem !important;
}

.mt-n2 {
    margin-top: -0.5rem !important;
}

.me-b2 {
    margin-bottom: -0.5rem !important;
}

.ms-n2 {
    margin-left: -0.5rem !important;
}

.me-n2 {
    margin-right: -0.5rem !important;
}

.mx-n2 {
    margin-right: -0.5rem !important;
    margin-left: -0.5rem !important;
}

.my-n2 {
    margin-top: -0.5rem !important;
    margin-bottom: -0.5rem !important;
}